[Unit]
Description=LinkyRPi GUI
After=syslog.target network.target multi-user.target nodm.service systemd-user-sessions.service runlevel5.target graphical.target
[Service]
Type=idle
Environment=DISPLAY=:0
ExecStart=/home/pi/.venv/bin/python3 /home/pi/LinkyRPi/LinkyRPiGUI.py
StandardOutput=file:/home/pi/LinkyRPi/log/LinkyRPiGUI.log
StandardError=file:/home/pi/LinkyRPi/log/LinkyRPiGUI.err
WorkingDirectory=/home/pi/LinkyRPi
Environment=PYTHONUNBUFFERED=1
User=pi
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target default.target
