[Unit]
Description=LinkyRPi Listen
After=multi-user.target LinkyRPiGUI.service
[Service]
Type=idle
ExecStart=/home/pi/.venv/bin/python3 /home/pi/LinkyRPi/LinkyRPiListen.py
StandardOutput=file:/home/pi/LinkyRPi/log/LinkyRPiListen.log
StandardError=file:/home/pi/LinkyRPi/log/LinkyRPiListen.err
WorkingDirectory=/home/pi/LinkyRPi
Environment=PYTHONUNBUFFERED=1
User=pi
[Install]
WantedBy=multi-user.target
