[Unit]
Description=LinkyRPi Listen
After=multi-user.target LinkyRPiGUI.service
[Service]
Type=idle
ExecStart=/home/linkyrpi/.venv/bin/python3 /home/linkyrpi/LinkyRPi/LinkyRPiListen.py
StandardOutput=file:/home/linkyrpi/LinkyRPi/log/LinkyRPiListen.log
StandardError=file:/home/linkyrpi/LinkyRPi/log/LinkyRPiListen.err
WorkingDirectory=/home/linkyrpi/LinkyRPi
Environment=PYTHONUNBUFFERED=1
User=linkyrpi
[Install]
WantedBy=multi-user.target
