[Unit]
Description=LinkyRPi Dispatching
After=multi-user.target LinkyRPiDispatch.service
[Service]
Type=idle
ExecStart=/home/linkyrpi/.venv/bin/python3 /home/linkyrpi/LinkyRPi/LinkyRPiDispatch.py
StandardOutput=file:/home/linkyrpi/LinkyRPi/log/LinkyRPiDispatch.log
StandardError=file:/home/linkyrpi/LinkyRPi/log/LinkyRPiDispatch.err
WorkingDirectory=/home/linkyrpi/LinkyRPi
Environment=PYTHONUNBUFFERED=1
User=linkyrpi
[Install]
WantedBy=multi-user.target
